#navbar #dropdown-header .row:nth-child(1) {
  font-size: 60px;
  display: flex;
  justify-content: center;
}

#navbar #dropdown-header .row:nth-child(2) {
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
#navbar {
  background: rgb(36, 131, 247);
  background: radial-gradient(
    circle,
    rgba(36, 131, 247, 1) 0%,
    rgba(37, 104, 184, 1) 50%,
    rgba(55, 84, 189, 1) 69%
  );
}
.logo {
  width: 65%;
}
#navbar-in {
  font-size: 50px;
}
#navbar-sub-brand {
  font-size: 25px;
}
#navbar-img {
  width: 20%;
}
